@font-face {
  font-family: "IranYekan";
  src: url("./assets/fonts/iranyekanwebthinfanum.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "IranYekan";
  src: url("./assets/fonts/iranyekanweblightfanum.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "IranYekan";
  src: url("./assets/fonts/iranyekanwebregularfanum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "IranYekan";
  src: url("./assets/fonts/iranyekanwebmediumfanum.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "IranYekan";
  src: url("./assets/fonts/iranyekanwebboldfanum.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "IranYekan";
  src: url("./assets/fonts/iranyekanwebextraboldfanum.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "IranYekan";
  src: url("./assets/fonts/iranyekanwebblackfanum.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "IranYekan";
  src: url("./assets/fonts/iranyekanwebextrablackfanum.woff") format("woff");
  font-weight: 950;
  font-style: normal;
}

/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "IranYekan", sans-serif;
  font-weight: 400;
  line-height: 1;
}

:root {
  /* colors */

  --border-radius: 0.5rem;
  --letter-spacing: 1px;
  --transition: 0.3s ease-in-out all;
}

/* a {
  text-decoration: none;
  color: inherit;
} */

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: transparent;
}
